@page
@model PersonalUniversalSite.Pages.Accounts.ModifyAccountModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Profile-Modify";
}

<title>@ViewData["Title"]</title>

<style>
    .logout{
        position: relative;
        left: 505px;
    }

    .actions{
        border: solid;
        padding: 10px;
        border-color: black;
        border-radius: 24px;
        width: 600px;
    }

    .modify{
        margin: 10px;
        padding: 10px;
        border: solid;
        border-color: darkred;
        border-radius: 14px;
        width: 300px;
    }
</style>

<p>Sorry but Profile Services Are currently Down</p>

@*<body>
    <div>
        @{
            string iconSource = "/MainStaticImages/iconUnauth.png";
            string username = "Not Logged In";
            string email = "Not Logged In";
            string info = "";
            if (HttpContextAccessor.HttpContext.Session.GetString("login") == "true")
            {
                iconSource = "/MainStaticImages/iconAuth.png";
                username = HttpContextAccessor.HttpContext.Session.GetString("account");
                email = HttpContextAccessor.HttpContext.Session.GetString("email");
                info = HttpContextAccessor.HttpContext.Session.GetString("info");
            }
        }


        <form onload="setVals(@info, @email, @username)">
            <img src=@iconSource />
            <br />
            <p>@ViewData["error"]</p>
            <label for="username">Username: </label>
            <textarea type="text" id="username" name="username" size=50 rows="1" cols="30"></textarea>
            <br />
            <label for="email">Email: </label>
            <textarea type="text" id="email" name="email" size=50 rows="1" cols="30"></textarea>
            <br />
            <label for="info">Info: </label>
            <textarea type="text" id="info" name="info" size=50 rows="5" cols="70"></textarea>
        </form>
    </div>

    <br />
    <br />

    <div class="actions">
        <form method="post" enctype="multipart/form-data" asp-page-handler="Modify" class="logout">
            <button type="submit" id="download">Modify</button>
        </form>
    </div>

    <br />
    <br />
</body>

<script>
    function openMod() {
        window.location.href = '/Accounts/ModifyAccount'
    }

    function setVals(info, email, username) {
        var info = document.getElementById('info');
        info.value = info;
        var email = document.getElementById('email');
        email.value = email;
        var username = document.getElementById('username');
        username.value = username;
    }
</script>*@