@page
@model PersonalUniversalSite.Pages.AccountCreationModel
@{
    ViewData["Title"] = "Account Creation";
}

<title>@ViewData["Title"]</title>

<p>Sorry but Profile Services Are currently Down</p>

@*<form method="post">

    <script>
        function showPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    <label for="username">Username: </label>
    <input type="text" id="username" name="username" />

    <br />
    <br />

    <label for="username">Email: </label>
    <input type="text" id="email" name="email" />

    <br />
    <br />

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" />
    <input type="checkbox" onclick="showPassword()">

    <br />

    <input type="submit" />

    <p>@ViewData["fail"]</p>
</form>*@