@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<title>@ViewData["Title"]</title>
<h1>@ViewData["Title"]</h1>

<p>This Website does not record any data you give it the server will use the data and then dispose of it so no matter what data you use it will not be collected</p>
